{% set active_page = "browse" %}
<!DOCTYPE HTML>
<html lang="en">
    <head>
        {% include '_head_import.html' %}
        <link href="{{ url_for('facade.static', filename='css/main.css')}}" rel="stylesheet" media="screen">  
        <script type="text/javascript" src="{{ url_for('facade.static', filename='js/slidepanel-right.js')}}"></script>
    </head>
    <body>

        <div class="container-fluid ">

            {% include '_top_nav_import.html' %}
                        
            <div id="main-outer" >
                <div id="main-content">
                    <nav id="main-nav" style="margin-bottom:50px;">
                        <ul id="navigation">
                            <li>
                            <a href="#panel" id="panel-button">&laquo;&nbsp;open</a>
                            </li>    
                        </ul>
                    </nav>
                    <table class="table" id="peoples-table">
                        <tr>
                        <!-- aai exist -->
                        {% set count = 0 %}
                        {% for row in res_obj %}
                            <td style="text-align:center"><a href="javascript: getPanelData( '{{ row.iso_code }}' );">{{ row.reference_name }}({{ row.iso_code }})</a></td>
                            {% set count = count +1 %}
                            {% set mod = count%4 %}
                            {% if mod == 0 %}
                                </tr>
                                <tr>
                            {% endif %}
                        {% endfor %}

                        </tr>

                    </table>
                </div>

                <!-- right panel  -->
                {% include '_right_panel.html' %}
                <!-- // right panel  -->

            </div> 
        </div>
        
        <script>
            $(function() {
                // Resize map height
                // *****
                var top_height = $('#main-top').height() + 70;
                //$('#peoples-table').height($(window).height() - top_height);
                $("#panel").height($(window).height() - top_height);
                $(window).resize(function() {
                    var bodyheight = $(window).height() - top_height;
                    //$("#peoples-table").height(bodyheight);
                    $("#panel").height(bodyheight);
                }); 
            });
        </script>
    
    </body>

</html>