{% set active_page = "index" %}
<!DOCTYPE HTML>
<html lang="en">
<head>
{% include '_head_import.html' %}
<link rel="stylesheet" href="http://js.arcgis.com/3.13/dijit/themes/claro/claro.css">
<link rel="stylesheet" href="http://js.arcgis.com/3.13/esri/css/esri.css">
<link href="{{ url_for('facade.static', filename='3rd/leaflet/leaflet.css') }}" rel="stylesheet"/>
<link href="{{ url_for('facade.static', filename='3rd/leaflet-overview/leaflet-overview.css') }}" rel="stylesheet"/>
<link href="{{ url_for('facade.static', filename='css/main.css')}}" rel="stylesheet" media="screen">    
<script src="{{ url_for('facade.static', filename='3rd/leaflet/leaflet.js')}}" type="text/javascript"></script>
<script src="{{ url_for('facade.static', filename='3rd/leaflet-overview/leaflet-overview.js')}}" type="text/javascript"></script>
<script type="text/javascript" src="{{ url_for('facade.static', filename='js/slidepanel-right.js')}}"></script>
<script src="http://js.arcgis.com/3.13/"></script>

    
</head>
<body>    
<div class="container-fluid ">
    
    {% include '_top_nav_import.html' %}

    <div id="main-outer">
        <div id="main-content">
            <nav id="main-nav">
                <ul id="navigation">
                    <li>
                        <a href="#panel" id="panel-button">&laquo;&nbsp;open</a>
                    </li>    
                </ul>
            </nav>

            <div id="map">
            </div>

        </div>

        <div id="panel">
        </div>
    </div>    
          
    <!--
    <div class="row">
      <div class="col-md-6">Description</div>
      <div class="col-md-6">Available Resources</div>
    </div>
    -->
</div>  
    
<script>
$(function() {

    // Resize map height
    // -------
    var top_height = $('#main-top').height() + 70;

    $('#map').height($(window).height() - top_height);
    $("#panel").height($(window).height() - top_height);

    $(window).resize(function() {
        var bodyheight = $(window).height() - top_height;
        $("#map").height(bodyheight);
        $("#panel").height(bodyheight);
    }); 

    // MAP INITIALIZATION
    // --------
    var map;
    var fLayers;
    var fLayer;
    require(["esri/map",
        "esri/arcgis/utils",
        "esri/layers/FeatureLayer",
        "esri/graphic",
        "esri/tasks/query",
        "esri/geometry/Point", 
        "dojo/domReady!"], 
        function(Map, arcgisUtils, FeatureLayer, Graphic, Query, Point) {
            // WebMap option to disable popups window
            var createMapOptions = { ignorePopups: true };
            // Create a map with a webmap from arcgis.com
            arcgisUtils.createMap("4263c3792e774f6e896ba959a8832cf0", "map", createMapOptions).then(initializeMap);
            
            // Initialize Map and register related events.
            function initializeMap(response) {
                // Get a created map.
                map = response.map;
                // Create a feature layer to query
                var serviceURL = "https://services1.arcgis.com/DnZ5orhsUGGdUZ3h/arcgis/rest/services/ProtoypeService_04222015/FeatureServer/0"
                fLayer = new FeatureLayer(serviceURL, { outFields: ["LangName", "ISO_639"] } );    
                // Register query event.
                map.on('click', function(evt) {
                    // Create a query
                    var geometry = evt.mapPoint;
                    var query = new Query();
                    query.geometry = geometry;
                    // Query a selected feature
                    fLayer.queryFeatures(query, displayFeatureInfo);
                });                        
            }
        
            // Register a click event
            function displayFeatureInfo(response) {
                var feature = response.features[0];
                // Get iso 639 code to be used in subsequent queries.
                var iso639 = feature.attributes['ISO_639'];
                // For debugging
                alert("selected feature iso 639 code: " + iso639);
            }
        }
    );  // End require

}); // End outer function
</script>
    
</body>
</html>