{% set active_page = "index" %}
<!DOCTYPE HTML>
<html lang="en">
<head>
{% include '_head_import.html' %}
<link rel="stylesheet" href="http://js.arcgis.com/3.13/dijit/themes/claro/claro.css">
<link rel="stylesheet" href="http://js.arcgis.com/3.13/esri/css/esri.css">
<link href="{{ url_for('facade.static', filename='3rd/leaflet/leaflet.css') }}" rel="stylesheet"/>
<link href="{{ url_for('facade.static', filename='3rd/leaflet-overview/leaflet-overview.css') }}" rel="stylesheet"/>
<link href="{{ url_for('facade.static', filename='css/main.css')}}" rel="stylesheet" media="screen">    
<script src="{{ url_for('facade.static', filename='3rd/leaflet/leaflet.js')}}" type="text/javascript"></script>
<script src="{{ url_for('facade.static', filename='3rd/leaflet-overview/leaflet-overview.js')}}" type="text/javascript"></script>
<script type="text/javascript" src="{{ url_for('facade.static', filename='js/slidepanel-right.js')}}"></script>
<script src="http://js.arcgis.com/3.13/"></script>

    
</head>
<body>    
<div class="container-fluid ">
    
    {% include '_top_nav_import.html' %}

    <div id="main-outer">
        <div id="main-content">
            <nav id="main-nav">
                <ul id="navigation">
                    <li>
                        <a href="#panel" id="panel-button">&laquo;&nbsp;open</a>
                    </li>    
                </ul>
            </nav>

            <div id="map">
            </div>

        </div>

        <div id="panel">
        </div>
    </div>    
      
    
    <!--
    <div class="row">
      <div class="col-md-6">Description</div>
      <div class="col-md-6">Available Resources</div>
    </div>
    -->
</div>    
<script>
    $(function() {

                // Resize map height
        // *****
        var top_height = $('#main-top').height() + 70;
        
        $('#map').height($(window).height() - top_height);
        $("#panel").height($(window).height() - top_height);
        
        $(window).resize(function() {
            var bodyheight = $(window).height() - top_height;
            $("#map").height(bodyheight);
            $("#panel").height(bodyheight);
        }); 
        
        // MAP INITIALIZATION
        // *****
        
        var map;
        
        require(["esri/map",
                "esri/arcgis/utils",        
                "esri/tasks/IdentifyTask",
                "esri/tasks/IdentifyParameters",
                "dojo/domReady!"], function(Map, arcgisUtils, IdentifyTask, IdentifyParams) {
                    arcgisUtils.createMap("4263c3792e774f6e896ba959a8832cf0", "map").then(function (response) {
                map = response.map;
                map.on("click", identifyFeature); 
                
                // TODO: Configure tasks and params!!!!        
                identifyTask = new IdentifyTask("http://sampleserver3.arcgisonline.com/ArcGIS/rest/services/BloomfieldHillsMichigan/Parcels/MapServer");        
                identifyParams = new IdentifyParameters();
                        
                // Register a click event
                function identifyFeature(evt) {
                    //alert("x-coord:"); 
                    //alert("x-coord: " + evt.mapPoint.x + "  y-coord: " + evt.mapPoint.y);    
                    
                    identifyParams.geometry = evt.mapPoint;
                    identifyParams.mapExtent = map.extent;
                    identifyTask.execute(identifyParams, function (idResults) {
                        //addToMap(idResults, evt);
                        alert("feature: " + idResults[0].displayFieldName);
                    });
                    
                }
                
            });
                        
        });  // end require


        
        
        // TODO: Clean Up Later
        
        //var map = L.map('map').setView([-7.0, 152.0],6);
        // Example using MapBox
        //L.tileLayer('http://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
        //    attribution: '',
        //    maxZoom: 18,
        //    id: 'examples.map-i875mjb7'
        // }).addTo(map);


        //var mb = L.tileLayer('http://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
        //    attribution: '',
        //    maxZoom: 18,
        //    id: 'examples.map-i875mjb7'
        //});

        //L.control.overview([mb]).addTo(map);
        

        
    });
</script>
    
</body>
</html>