body {
    margin: 0 auto;
    width: 100%;
    min-width: 750px;
    min-height: 600px;
    
}

div#main-outer {
    position: relative;
    width: 100%;
    min-width: 700px;
    
}

#prj-datamap {
    position: relative;
    margin-top:5px;
    margin-bottom:15px;
    height: 100%;
    min-height:500px;
    border: 1px solid;
    border-color: #D8D8D8; 
}

#panel { 
    position:absolute;
    display: block;
    width: 400px;
    min-width: 400px;
    padding-top: 40px;
    padding-right: 20px;
    padding-left:20px;
    padding-bottom:20px;
    margin-left:300px;
    top: 0;
    right: 0;
    height: 100%;
    max-height: 500px;
    z-index: 4;
}


#main-content {
    width: 100%;
    height: auto;
    display: block;
    min-height: 800px;
    overflow: hidden;
    position: relative;
    z-index: 5;
    color: #ffffff;
    background-color: white;
}


#navigation { list-style: none; text-align: right; }
#navigation li { display: block; margin-top: 2px; margin-bottom: 2px; font-size: 1.2em; font-weight: 300; }
#navigation li a { text-align: right; block; padding: 0px 0px; width: 20%; color: #81BEF7; text-decoration: none; }
/* #navigation li a:hover, #navigation li a.open { color: #fff; background: #484e57; } */


ul.nav li a {
    width:80px;
    text-align: center;
    margin-right: 30px;
    
}