<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

{% include '_dstore_head.html' %}

<body style="margin: 0 auto;width:1000px;">

<div id="dstore-top">
    {% include '_dstore_header.html' %}
    
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}    
</div> 

<div>
    {{ form_html|safe }}       
</div>   

</body>
</html>